* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.header {
  margin-top: 50px;
}

.header h1 {
  text-align: center;
}

.header img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.form {
  margin-top: 50px;
}

.form table {
  width: 100%;
}

.form td {
  padding: 10px;
}

.form input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #ccc;
  color: #000;
}
