.container {
  text-align: center;
}
.coffee-types {
  text-align: center;
}
.coffee-type {
  display: inline-block;
  text-align: center;
  margin: 10px;
}
input[type="radio"] {
  display: block;
  margin: 0 auto;
}
button {
  background-color: #ffee00;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  float: right;
}
